:root {
    --anim-size: 100svh;
    --border-size: 5px;
}

.shapes {
    position: absolute;
    top: 0;
    left: 0;
    height: 150svh;
    width: 100%;
    overflow: hidden;
    z-index: -10;
}

.shapes__circle {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 2px;
    width: 2px;
    border: 1px solid;
    border-radius: 50%;
    overflow: hidden;
    z-index: -10;
    opacity: 0;
    display: none;
}

.shapes__circle-1 {
    top: 10svh;
    left: 30svw;
}

.shapes__circle-2 {
    top: 78svh;
    left: 13svw;
}

.shapes__circle-3 {
    top: 67svh;
    left: 86svw;
}

@media (min-width: 768px) {
    .shapes__circle {
        display: inline;
        /* animation: circlePulse 5s ease-in-out 0s infinite; */
        animation: circleGrow 4s ease-in-out 0s infinite;
    }
}

@media (min-width: 1024px) {
    :root {
        --border-size: 7.5px;
    }
}

@media (min-width: 1440px) {
    :root {
        --border-size: 10px;
    }
}

@keyframes circlePulse {
    0%, 100% {
        opacity: 0.5;
        height: 2px;
        width: 2px;
        border-width: 1px;
    }

    50% {
        height: var(--anim-size);
        width: var(--anim-size);
        transform: translate(calc(-0.5 * var(--anim-size)), calc(-0.5 * var(--anim-size)));
        border-width: var(--border-size);
    }
}

@keyframes circleGrow {
    0% {
        opacity: 0;
        height: 2px;
        width: 2px;
    }

    5% {
        opacity: 1;
    }

    85% {
        height: var(--anim-size);
        width: var(--anim-size);
        transform: translate(calc(-0.5 * var(--anim-size)), calc(-0.5 * var(--anim-size)));
        border-width: var(--border-size);
        opacity: 0;
    }
}